 <h1> Chris Horne </h1>
<img src="StarValleyGolf.jpeg" />
 <h1> I am a software engineer for a digital tag management company called "Tealium" </h1>
<p> I want to learn how to code so that I can be an asset to many different companies and do cool stuff! </p>
 <a href="https://twitter.com/LeRon_8"> Read more about me on Twitter! </a>